<template name="custom_user_complete">
  <div class="grid-small grid-block dialog user-edit">
    <div class="finish-signup-message">
        <i>"Please fill in some more information about yourself. This will help everyone know who they're talking to, and make commercial discussions more transparent."</i>
        <br>
        <br>
       <!-- Membership payment is required to continue <button style="float: right" id="customButton">Purchase</button>
        <br>
        <br>
        <script>
            var handler = StripeCheckout.configure({
                key: 'pk_test_XqHlTE3CTNyRlI8JBPt4KjRn',
                image: '/images/android-chrome-72x72.png',
                token: function(token) {
                    var user = Meteor.user();
                    // Use the token to create the charge with a server-side script.
                    // You can access the token ID with `token.id`

                    Meteor.call('stripMembershipCheckout' , token, user, function(error, id) {
                        if (error) {
                            // display the error to the user
                            throwError(error.reason);
                        }
                    });
                }
            });

            $('#customButton').on('click', function(e) {
                // Open Checkout with further options
                handler.open({
                    name: 'Proper Ventures Pty. Ltd.',
                    description: 'OPN Coffee Monthly Membership',
                    currency: "aud",
                    amount: 3900
                });
                e.preventDefault();
            });

            // Close Checkout on page navigation
            $(window).on('popstate', function() {
                handler.close();
            });
        </script>-->

      <!--{{_ "please_fill_in_missing_information_to_finish_signing_up"}}-->
    </div>
    {{> quickForm collection="Meteor.users" doc=user id="completeUserForm" template="bootstrap3-horizontal" input-col-class="controls" type="method-update" meteormethod="completeUserProfile" fields=requiredFields}}
  </div>
</template>