<template name="custom_post_vote">
    <div class="post-vote {{moduleClass}}">
        <div class="vote-actions {{actionsClass}}">
            {{#unless isGuest}}
                <a class="vote-action upvote-link" href="#" title="{{_ "upvote_"}}">
                    {{{icon "upvote"}}}
                    <span class="sr-only">{{_ "upvote_"}}</span>
                </a>
            {{/unless}}
            {{#if enableDownvotes}}
                {{#unless isGuest}}
                    <a class="vote-action downvote-link" href="#" title="{{_ "downvote_"}}">
                        {{{icon "downvote"}}}
                        <span class="sr-only">{{_ "downvote_"}}</span>
                    </a>
                {{/unless}}
            {{/if}}
        </div>
        <span class="points" style="padding-left:6px;">{{baseScore}}</span>
    </div>
</template>


