<template name="post_flag_link">
    {{#if flagged}}
        <a class="post-author" href="" id="unFlagPost">Un-Flag Post</a>
    {{/if}}

    {{#unless flagged}}
        <a class="post-author" href="" id="flagPost">Flag Post</a>
    {{/unless}}
</template>