<template name="comment_register_message">
    <div class="alert alert-warning alert-block">
        <h4><i class="fa fa-bell-o"></i>&nbsp;&nbsp;You're not logged or registered</h4>
        <div style="display: flex">
           <p style="padding-top: 8px"><i>You must login or register to view comments, <a href="/register" >Register</a> / <a href="/sign-in" >Sign In</a></i></p>
        </div>
    </div>
</template>